<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ISeeAdmin 【product】 </title>
    <link rel="stylesheet" href="/static/element/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/menu.js"></script>
    <script src="/static/js/init.js"></script>
    <script src="/static/js/vue.js"></script>
    <!--    <script src="/static/js/vue.min.js"></script>-->
    <!--    <script src="static/js/axios.min.js"></script>-->
    <script src="/static/element/index.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container style="height: 100%;min-height:100vh;">
        <el-aside width="210px">
            <div class="aside-logo">
                <img class="aside-logo-img" src="https://wpimg.wallstcn.com/69a1c46c-eb1c-4b46-8bd4-e9e686ef5251.png"
                     alt=""> ISeeAdmin
            </div>
            <el-menu @select="iseeMenuOpen" style="width: 210px;" unique-opened
                     :default-active="iseeData.iseeDefaultActive"
                     background-color="#304156"
                     text-color="#bfcbd9"
                     active-text-color="#409eff">

                <template v-for="(item,index) in iseeData.menu">
                    <template v-if="!item.children.length">
                        <el-menu-item :index="item.url"><i :class="item.icon"></i>{{item.title}}</el-menu-item>
                    </template>
                    <template v-else>
                        <el-submenu :index="item.url">
                            <template slot="title"><i :class="item.icon"></i>{{item.title}}</template>
                            <template v-for="(itemSub,indexSub) in item.children" :index="itemSub.index">
                                <template v-if="itemSub.children.length">
                                    <el-submenu :index="itemSub.url">
                                        <span slot="title"><i :class="itemSub.icon"></i>{{ itemSub.title }}</span>
                                        <template v-for="(itemSub_,indexSub_) in itemSub.children">
                                            <el-menu-item :index="itemSub_.url"><i :class="itemSub_.icon"></i>{{
                                                itemSub_.title }}
                                            </el-menu-item>
                                        </template>
                                    </el-submenu>
                                </template>
                                <template v-else>
                                    <el-menu-item :index="itemSub.url"><i :class="itemSub.icon"></i>{{ itemSub.title }}
                                    </el-menu-item>
                                </template>
                            </template>
                        </el-submenu>
                    </template>
                </template>

            </el-menu>
        </el-aside>

        <el-container>

            <el-header height="78px">
                <div>
                    <el-breadcrumb style="line-height: 50px" separator="/">
                        <el-breadcrumb-item>首页</el-breadcrumb-item>
                        <el-breadcrumb-item>活动管理</el-breadcrumb-item>
                        <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <div>
                    <el-tag style="cursor:pointer;margin-right: 5px;" v-for="(item,index) in iseeData.tagList"
                            :key="index"
                            @click="iseeTagSwitch(item.url,index)"
                            :effect="item.effect"
                            :type="item.type"
                            @close="iseeTagClose(item.url,index)"
                            size="small"
                            :closable="item.closable"><i v-show="item.show" class="el-icon-view"></i> {{item.title}}
                    </el-tag>
                </div>
            </el-header>

            <el-main>
                <el-table :data="tableData">
                    <el-table-column prop="date" label="日期" width="140">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="120">
                    </el-table-column>
                    <el-table-column prop="address" label="地址">
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>


<script>
  const item = {
    date: '2016-05-02',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1518 弄'
  };
  var app = new Vue({
    el: '#app',
    data: {
      tableData: Array(10).fill(item),

      iseeData: {
        status: false,
        show: true,
        iseeDefaultActive: iseeDefaultActive,
        menu: iseeMenu,
        currentTitle: 'product',
        tagList: iseeTagList
      },
    },
    methods: {
      iseeTagSwitch(url, index) {
        let currentUrl = this.$data.iseeData.iseeDefaultActive
        if (url == currentUrl) {
          return;
        }
        localStorage.setItem('iseeDefaultActive', url)
        window.open(url, '_self')
      },

      iseeTagClose(url, index) {
        this.$data.iseeData.tagList.splice(index, 1);
        localStorage.setItem('iseeTagList', JSON.stringify(this.$data.iseeData.tagList))
        // 关闭当前tag,跳转到前一个tag
        if (url == this.$data.iseeData.iseeDefaultActive) {
          localStorage.setItem('iseeDefaultActive', this.$data.iseeData.tagList[index - 1].url)
          window.open(this.$data.iseeData.tagList[index - 1].url, '_self')
        }
      },

      iseeMenuOpen(key, keyPath) {
        localStorage.setItem('iseeDefaultActive', key)
        // key存在iseeTagList中,则iseeTagList无需再push
        iseeTagList.forEach((obj) => {
          if (obj.url == key) {
            this.$data.iseeData.status = true
            return
          }
        })

        if (this.$data.iseeData.status == false) {
          let issTag = {
            title: 'unknow',
            url: key,
            closable: true,
            show: true,
            effect: 'dark',
            type: '',
          }
          iseeTagList.push(issTag)
          localStorage.setItem('iseeTagList', JSON.stringify(iseeTagList))
        }
        window.open(key, '_self')
      },
    },
    beforeMount() {
      this.$data.iseeData.tagList.forEach((obj) => {
        if (obj.url == this.$data.iseeData.iseeDefaultActive) {
          obj.title = this.$data.iseeData.currentTitle
          obj.show = true
          obj.effect = 'dark'
          obj.type = ''
          localStorage.setItem('iseeTagList', JSON.stringify(this.$data.iseeData.tagList))
        } else {
          obj.show = false
          obj.effect = 'plain'
          obj.type = 'info'
        }
      })
    },
    mounted() {
    }
  });
</script>
</body>
</html>

